# config.yaml
training:
  batch_size: 16
  epochs: 500
  seed: 0
  test_split: 0.2
  strategy: 4                     # Valid strategies: 1, 2, 3, 4
  N: 3
  model: "FNO"                      # Valid models "CNO" and "FNO"
  optimizer: "optimizer_adamw"      # Save name of optimizer as it's dictionary is named in this file
  scheduler: "scheduler_cosineannealinglr"     # Save name of scheduler as it's dictionary is named in this file

model_fno:
  modes1: 24
  modes2: 24
  width: 16
  in_dim: 4
  out_dim: 1
  pad: 8

model_cno:
  in_dim: 4
  out_dim: 1
  size: 44
  N_layers: 5
  N_res: 4
  N_res_neck: 4
  channel_multiplier: 16

optimizer_adam:
  optimizer: "torch.optim.Adam"
  lr: 0.001

optimizer_adamw:
  optimizer: "torch.optim.AdamW"
  lr: 0.001
  weight_decay: 0.01

scheduler_steplr:
  scheduler: "torch.optim.lr_scheduler.StepLR"
  step_size: 20
  gamma: 0.5

scheduler_cosineannealinglr:
  scheduler: "torch.optim.lr_scheduler.CosineAnnealingLR"

dataset:
  dir: "data"
  test_file: "pattern_paths_test_44_44.h5"
  train_file: "pattern_paths_training_44_44.h5"

save:
  results_path: "results/"