# config.yaml
training:
  batch_size: 16
  epochs: 10
  seed: 1
  test_split: 0.2

model_fno:
  modes1: 24
  modes2: 24
  width: 16
  in_channels: 4
  out_channels: 1
  pad: 8

model_cno:
  in_dim: 4
  out_dim: 1
  size: 44
  N_layers: 5
  N_res: 4
  N_res_neck: 4
  channel_multiplier: 16

optimizer:
  lr: 0.001
  step_size: 20
  gamma: 0.5

dataset:
  dir: "data"
  test_file: "pattern_paths_test_44_44.h5"
  train_file: "pattern_paths_training_44_44.h5"

save:
  results_path: "results/"